<form class="pull-right hidden mt-5 mb-5" role="search" id="nav-search-form" method="GET" action="{{ path('searchResult') }}">
<div class="row mb-3">
	<div class="col-md-2">
		<select name="categorie" class="form-control">
			{% for cat in cats %}
				<option value="{{ cat.slug }}"> {{ cat.nom }}</option> 
			{% endfor %}
		</select>
	</div>
	<div class="col-md-8">
		<input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.query.get('search') }}">
		<input type="hidden" value="0" name="saveSearch" id="saveSearch">
	</div>
	<div class="col-md-2">
		<button type="submit" class="btn btn-primary">Valider</button>
	</div>
</div>
</form>