<h1>Bonjour ! Veuillez confirmer votre email.</h1>

<p>
    Afin de valider votre inscription, confirmez votre email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expirera dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Cordialement,
	l'équipe Alsannonces
</p>
