{% extends 'base.html.twig' %}

{% block title %}Listing de vos annonces {{ app.user.username }} {{{% endblock %}

{% block body %}

<div class="example-wrapper">
    s
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/symfony/wf3-projet/src/Controller/MembreController.php'|file_link(0) }}">src/Controller/MembreController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/symfony/wf3-projet/templates/membre/index.html.twig'|file_link(0) }}">templates/membre/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
